[submodule "ft_transcendence_frontend"]
	path = ft_transcendence_frontend
	url = https://github.com/jdomingu98/ft_transcendence_frontend.git
[submodule "ft_transcendence_backend"]
	path = ft_transcendence_backend
	url = https://github.com/jdomingu98/ft_transcendence_backend.git
